<header>
  <h1>Wow! So Very Pictures!</h1>
  <p>Not pictures enough? <%= link_to "Much click here!", "/pictures/new" %></p>
</header>

<ul class="allpics clearfix">
  <% @pictures.each do |picture| %>
  <li class="small_pic">
    <figure >
      <%= link_to image_tag(picture.url), "/pictures/#{picture.id}" %>
      <br>
      <caption><%= picture.title %> <br> <%= picture.artist %></caption>
    </figure>
  <% end %>
  </li>
</ul>

<div></div>
