*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'Press Start 2P', sans-serif;
  text-align: center;
  width: 100%;
  font-size: 12px;
}

body {
  background-color: #403000;
  color: #060800;
  margin: 0;
}

header {
  padding: 1em;
}

h1 {
  font-size: 1.5em;
}

figure {
  padding: 0;
  margin: 0;
}

.long {
  display: none;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.allpics {
  list-style-type: none;
  width: 100%;
  padding: 0px;
  margin: auto;
}



.small_pic {
  position: relative;
  padding: 2em;
  color: #403000;
  padding: 0px;
  margin: 0px;
}

.small_pic  img {
  max-width: 100%;
}

.small_pic > caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 1em;
  font-size: 0.5em;
}

.small_pic:hover {
  color: #060800;
}


body > footer {
  color: white;
  background-color: black;
  text-align: center;
  font-weight: bold;
  padding: 18px;
  font-size: 15px;
  margin: auto;
}

.copyright {
  display: inline-block;
  margin: 0px;
  line-height: 3em;
}

.logo {
  float: left;
  margin: 0px;
  line-height: 4px;
  /*background-color: red;*/
}

.logo > pre {
  font-family: monospace;
  font-size: 5px;
  font-weight: 900;
  padding: 0px;
  margin: 0px;
}

@media (min-width: 600px) {
  h1 {
    font-size: 2em;
  }

  .long {
    display: block;
  }

  .short {
    display: none;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 1.3em;
  }

  .small_pic {
    float: left;
    width: 50%;
    padding: 2em;
  }

  .small_pic:nth-child(2n+1) {
    clear: both;
  }

}

@media (min-width: 1280px) {

  h1 {
    font-size: 3em;
  }

  .small_pic {
    width: 33.3333%;
  }

  .small_pic:nth-child(2n+1) {
    clear: none;
  }


  .small_pic:nth-child(3n+1) {
    clear: both;
  }

}
