<!DOCTYPE html>
<html>
  <head>
    <title>Photogur</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <%= yield %>
    <footer>

      <div class="logo">
    <pre>  / |\\  </pre><br>
    <pre> /  | \\ </pre><br>
    <pre>/   |  \\</pre><br>
    <pre>\   |\ //</pre><br>
    <pre> \  | X/ </pre><br>
    <pre>  \ |//\ </pre>
      </div>
      <div class="copyright">This shameless copy &copy; Quantum Duck 2017</div>

    </footer>
  </body>
</html>
